---
apiVersion: "apiextensions.k8s.io/v1"
kind: "CustomResourceDefinition"
metadata:
  name: "nodeconnections.internal.linstor.linbit.com"
spec:
  group: "internal.linstor.linbit.com"
  versions:
  - name: "v1-15-0"
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: "object"
        properties:
          spec:
            type: "object"
            properties:
              uuid:
                type: "string"
              node_name_src:
                type: "string"
              node_name_dst:
                type: "string"
  scope: "Cluster"
  names:
    plural: "nodeconnections"
    singular: "nodeconnections"
    kind: "NodeConnections"
