# ide files/folders
.gradle/
.idea/
.nb-gradle-properties

# build output
server/generated*
build/
out/
/tools/
/libs/
.filelist

# config/runtime files
database.cfg
/logs/
/ssl/

# test output
test-support/TestOutput
test-support/TestProcess
