# ide files/folders
.gradle/
.idea/
.nb-gradle-properties
.classpath
.project
.settings/
nbproject/
nbproject/build-impl.xml
bin/

# build output
server/generated*
build/
out/
/tools/
/libs/
.filelist
/satellite/libs
/satellite/jar.deps
/controller/libs
/controller/jar.deps
/server/libs
/server/jar.deps


# config/runtime files
database.cfg
/logs/
/ssl/

# test output
test-support/TestOutput
test-support/TestProcess
