[Unit]
Description=LINSTOR Controller Service
Wants=network-online.target
After=network-online.target
# if these exist, and are enabled, we want to be scheduled before them
# proxmox:
Before=pvedaemon.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=notify
ExecStart=/usr/share/linstor-server/bin/Controller --logs=/var/log/linstor-controller --config-directory=/etc/linstor
# if killed by signal 143 -> SIGTERM, 129 -> SIGHUP
SuccessExitStatus=0 143 129
User=root
PrivateTmp=yes
TimeoutStartSec=240s
# 70 -> critical error(e.g.: uuid mismatch)
RestartForceExitStatus=70

[Install]
WantedBy=multi-user.target
